

	<script>
	$(function(){
	   $("#btnJoin").click(
		function(){
                  var UserPassword = $("#passwd").val();
 
		  if(UserPassword.length<8) {
		    alert("비밀번호는 영문(대소문자구분),숫자,특수문자(~!@#$%^&*()-_? 만 허용)를 혼용하여 8~16자를 입력해주세요.");
		    return false;
		  }
  
		  if(!UserPassword.match(/([a-zA-Z0-9].*[!,@,#,$,%,^,&,*,?,_,~,-])|([!,@,#,$,%,^,&,*,?,_,~,-].*[a-zA-Z0-9])/)) {
		      alert("비밀번호는 영문(대소문자구분),숫자,특수문자(~!@#$%^&*()-_? 만 허용)를 혼용하여 8~16자를 입력해주세요.");
		    return false;
		  }
                  $("#joinForm").submit();
		  }
             );
       });

</script>

<form id="joinForm" action="/join" method="post">
<table width="400" border="1">
	<tr>
		<th>비밀번호</th>
		<td><input type="password" name="passwd" id="passwd" size="12" maxLength="12"></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" id="btnJoin" name="join" value="가입">
			<input type="reset" name="cancel"value="취소">
		</td>
	</tr>
</table>
</form>




